.Button {
  background-color: red;
}

.Button:hover {
  cursor: pointer;
}

.Button:focus {
  outline: none;
}

.Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
}

.Content {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.Score {
  font-size: 20px;
  margin-bottom: 20px;
}