.Button {
  background-color: green;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-width: 2px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
}

.Button:hover {
  cursor: pointer;
}

.Button:focus {
  outline: none;
}